.fa-marca {
  width: 40px;
  height: 40px;
  background: #fff url("../assets/images/icons/areas/icon-signo.png");
  background-repeat: round;
}
.fa-oposicion {
  width: 40px;
  height: 40px;
  background: #fff url("../assets/images/icons/areas/icon-oposicion.png");
  background-repeat: round;
}
.fa-cidea {
  width: 40px;
  height: 40px;
  background: #fff url("../assets/images/icons/areas/icon-cidea.jpg");
  background-repeat: round;
}
.fa-size {
  width: 40px;
  font-size: 30px;
}
.menu-center {
  ul.nav {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 2px;
    //display: inherit;
    li {
      a {
        display: inline-flex;
        width: 100%;
        margin: 5px 0;
        //padding: 0.5rem 0.6rem;
        padding: 0;
        -webkit-transition: opacity 0.4s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s, background 0.4s, color 0.4s;
        transition: opacity 0.4s, box-shadow 0.4s, transform 0.4s, background 1s;
        //border-color: $primary-color;
        border-top: 1px #ddd solid;
        border-right: #ddd 1px solid;
        border-bottom: 1px #ddd solid;
        border-left: $primary-color 5px solid;
        background-color: white;
        -webkit-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.25);
        -moz-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.25);
        box-shadow: 0 5px 7px 0 rgba(0,0,0,0.25);
        font-size: 120%;
        .menu-text {
          min-height: 40px;
          padding: 5px;
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
  .menu-center {
    .nav {
      display: block!important;
      li.nav-item {
        display: inline-block;
        float: left;
        width: 50%;
        padding-left: 2px;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-center {
    display: block;
    .nav {
      margin-left: 0!important;
      li.nav-item {
        display: inline-block;
        float: left;
        width: 50%;
        padding-left: 2px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu-center {
    display: block;
    .nav {
      margin-left: 0!important;
      li.nav-item {
        display: inline-block;
        float: left;
        width: 50%;
        padding-left: 2px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .menu-center {
    ul.nav {
      //display: inherit;
    }
  }
  .menu-center {
    ul {
      li {
        display: inline-block;
        margin-right: 8px;
        text-align: center;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  body:not(.path-frontpage) {
    .menu-left {
      flex: 0 0 100%;
      max-width: 100%;
      ul.nav {
        display: flex;
      }
    }
  }
}
@media (min-width: 1200px) {
  .menu-left,
  .menu-center {
    ul.nav {
      //display: inherit;
    }
  }
  .menu-center {
    ul {
      li {
        display: inline-block;
        margin-right: 8px;
        text-align: center;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  body:not(.path-frontpage) {
    .menu-left {
      flex: 0 0 100%;
      max-width: 100%;
      ul.nav {
        display: flex;
        li {
          margin-right: 8px;
        }
      }
    }
  }
}
