/**
 * @file
 * List group.
 * A list of links, grouped together.
 */

.list-group__link {
  padding: $list-group-item-padding-y 0 0;
  border-top: $border-width solid $border-color;
}
.list-group__description {
  margin: 0 0 $list-group-item-padding-y;
}
