/**
 * @file
 * Styles for the skip link.
 */

.skip-link {
  z-index: 50;
  left: 50%;
  padding: 1px $spacer 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom-width: 0;
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
  outline: 0;
  background: $gray-700;
  font-size: $font-size-base;
  line-height: $line-height-lg;
}
.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  color: $white;
}
