/*============ Page Scroll to Top ============ */

.scrollup {
  position: fixed;
  z-index: 9001;
  right: 20px;
  bottom: 22px;
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  opacity: 1;
  background: url(../assets/images/scroll-top-arrow.png) no-repeat left top;
}
