
@font-face {
  font-family: 'FagoNo-Bold';
  src: url('FagoNo-Bold.eot?#iefix') format('embedded-opentype'),  url('FagoNo-Bold.otf')  format('opentype'),
	     url('FagoNo-Bold.woff') format('woff'), url('FagoNo-Bold.ttf')  format('truetype'), url('FagoNo-Bold.svg#FagoNo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
