/* ---------- Color Module Styles ----------- */

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: transparent;
}
.tabs ul.primary li a.is-active {
  background-color: #fff;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #fff;
  background-color: #fff;
}
#navbar-top {
  background-color: $primary-color;
}
#navbar-main {
  background-color: transparent;
}
#navbar-bottom {
  background-color: $primary-color;

  //padding: 0 1rem;
}
.page-item.active .page-link {
  border-color: #0071b3;
  background-color: #0071b3;
}
.page-link,
.page-link:hover {
  color: #0071b3;
}
.site-footer {
  //background: $primary-color;
  color: $white;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}
/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
h2 {
  &.block-title {
    margin-bottom: 0.5em;
    //color:#999;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #777;
    font-size: 160%;
    font-weight: bold;
    a {
      text-transform: uppercase;
      color: #999;
    }
  }
}
.site-footer {
  .block-content {
    a {
      color: $accent-light;
    }
  }
}
