{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
    <div id="page">
        <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
            {% block head %}
                {% if page.secondary_menu or page.top_header or page.top_header_form %}
                    <nav{{ navbar_top_attributes }}>
                        {% if container_navbar %}
                        <div class="{{ container }}">
                            {% endif %}
                            {{ page.secondary_menu }}
                            {{ page.top_header }}
                            {% if page.top_header_form %}
                                <div class="form-inline navbar-form float-right">
                                    {{ page.top_header_form }}

                                </div>
                            {% endif %}

                            {% if container_navbar %}
                        </div>
                        {% endif %}
                    </nav>
                {% endif %}
                <nav{{ navbar_attributes }}>
                    {% if container_navbar %}
                    <div class="{{ container }}">
                        {% endif %}

                        {{ page.header }}

                        {% if container_navbar %}
                    </div>
                    {% endif %}
                </nav>

                <nav class="navbar navbar-dark" id="navbar-bottom">
                    {% if container_navbar %}
                    <div class="{{ container }}">
                        {% endif %}

                        {% if page.primary_menu or page.header_form %}
                            {% if page.primary_menu or page.header_form %}
                                <div style="width: 100%; position: relative">
                                    {{ page.primary_menu }}
                                    <span data-sidr-options="true" class="fa fa-bars sidr-trigger js-sidr-trigger pull-right" style="font-size: 1.6em; color: white; padding: .5em; cursor: pointer; position: absolute; right: 0; top: 0"></span>
                                </div>
                                {% if page.header_form %}
                                    <div class="form-inline navbar-form float-right">
                                        {{ page.header_form }}
                                    </div>
                                {% endif %}

                            {% endif %}

                        {% endif %}

                        {% if container_navbar %}
                    </div>
                    {% endif %}
                </nav>

            {% endblock %}
        </header>
        {% if page.highlighted %}
            <div class="highlighted">
                <div class="main-banner">
                    <aside class="{{ container }} section clearfix" role="complementary">
                        <div class="tile" style="padding: 0px">
                            <div class="row">
                                {{ page.highlighted }}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        {% endif %}
        {% if page.featured_top %}
            {% block featured %}
                <div class="featured-top">
                    <aside class="featured-top__inner section {{ container }} clearfix" role="complementary">
                        <div class="tile">
                            {{ page.featured_top }}
                        </div>
                    </aside>
                </div>
            {% endblock %}
        {% endif %}
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
            {% block content %}
                <div id="main" class="{{ container }}">
                    {{ page.breadcrumb }}
                    <div class="row row-offcanvas row-offcanvas-left clearfix">
                        <main{{ content_attributes }}>
                            <div _ngcontent-c4="" class="tile">
                                <section class="section">
                                    <a id="main-content" tabindex="-1"></a>
                                    {{ page.content }}
                                </section>
                            </div>
                        </main>
                    </div>
                </div>
            {% endblock %}
        </div>
        <footer class="site-footer">
            {% block footer %}

                {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
                    <div class="site-footer__top clearfix">
                        <div class="{{ container }}">
                            {{ page.footer_fourth }}
                        </div>
                    </div>
                {% endif %}
                {% if page.footer_fifth %}
                    <div class="site-footer__bottom">
                        <div class="{{ container }}">
                            {{ page.footer_fifth }}
                        </div>
                    </div>
                {% endif %}

            {% endblock %}
        </footer>
    </div>
</div>

{% include "@senapi_bootstrap/modal.html.twig" %}
{% include "@senapi_bootstrap/scrollup.html.twig" %}